body{
    padding:0;
    margin:0;
    font-family: sans-serif;
    color:#333333;
}
.navbar{
    background-color: #2F80ED ;
    padding-top:20px;
    padding-bottom:10px;
    padding-left:25px;
}

img{
    float:left;
}
h4, h2{
    margin-block-end:.3em;
}
#sidegrid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-right:25px;
    font-size: 1.5em;
}
#right{
    float:right;
}

#half-container{
    margin-left:20px;
    display: inline-block;
        font-size: 1.25em;

}
.half{
    float:left ;
    width:40%;
    font-size:1.25em; 
    margin-right: 2em;
}
h2{
        padding-left:25px;

}
#lostpres{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-column-gap: 5%;
        font-size: 1.5em;
        padding-left:25px;

}
#lostpres img{
    width: 100%;
}
/* Customize the label (the container) */
.container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
    padding-right: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    color: white;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
    border-color:red;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}